<%- include('partials/head')%>

<%- include('partials/navbar')%>


    <div class="col-lg-8">        
      <main>
        <div class="contact-clean">
          <form method="">
            <h2 class="text-center">Note Id: <%= notesDat.id %></h2>            
            <div class="form-group">
              <textarea autofocus readonly
                class="form-control-t"
                name="title"
                placeholder="Title"
                rows="1"><%= notesDat.title %> 
              </textarea>
              
            </div>
            <div class="form-group">
              <textarea readonly
                class="form-control"
                name="message"
                placeholder="Message"
                rows="20"
              ><%= notesDat.text %> </textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Edit</button>
            </div>
          </form>
        </div>
      </main>
      </div>
    </div>
    <%- include('partials/footer')%>